.vertical-scroll-style::-webkit-scrollbar {
    width: 8px;
}

.vertical-scroll-style::-webkit-scrollbar-track {
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.vertical-scroll-style::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #312e81;
    outline: 1px solid slategrey;
}
